@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Baloo Bhai 2', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' sans-serif; */
    font-family: 'Roboto', sans-serif;
}
:root{
    /* --theme: #1fe6ff; */
    /* --theme: #01fe87; */
    --theme: teal;
}

body {
    background: #000;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* ....................................Home Page................................... */
#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:50px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 100;

    /* Glassy Look */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}

.header .logo {
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

header .logo span {
    color: var(--theme);
}

.header ul {
    position: relative;
    display: flex;
}

.header i {
    opacity: 0;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    margin-left: 10px;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s*var(--i));
}

.header ul li a.actives,
.header ul li a:hover {
    border-bottom: 3px solid var(--theme);
}

.content {
    position: relative;
}

.contain .mytext {
    position: relative;
    max-width: 550px;
}

.content .mytext h2 {
    color: #33ff00;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 400;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.7s;
}

.content .mytext h1 {
    color: var(--theme);
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1em;
    font-weight: 600;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: 0.7s;
}

.content .mytext p {
    font-size: 1.2em;
    max-width: 600px;
    color: #fff;
    opacity: 0;
    animation: emerge 0.5s linear forwards;
    animation-delay: 1s;
}

.content .mytext a {
    display: inline-block;
    margin-top: 20px;
    width: 150px;
    padding: 5px 15px;
    text-align: center;
    background: transparent;
    border: 2px solid var(--theme);
    color: var(--theme);
    font-size: 1em;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s*var(--i));
}

.pic {
    position: absolute;
    bottom: 7%;
    right: 10%;
    max-width: 400px;
    opacity: 0;
    animation: emerge 0.5s linear forwards;
    animation-delay: 1s;
}

/* To make it responsive */
@media(max-width:768px) {
    #home {
        padding: 20px;
    }

    .header {
        padding: 20px;
    }

    .header .navbar {
        display: none;
        z-index: -10;
    }

    .pic {
        left: 0;
        bottom: 0;
        opacity: 0;
        animation: emergeb 0.5s linear forwards;
        animation-delay: 1s;
    }

    #toggle i{
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        color: var(--theme);
        cursor: pointer;
        z-index: 10;
        text-decoration: none;
        animation: slide_top 0.5s linear forwards;
        animation-delay: calc(0.2s*var(--i));
    }
    
    .navbar.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        animation: slide_left 0.2s linear forwards;
        animation-delay: 0.2s;
    }

    header.active{
        height:100%;
        display: flex;
        flex-direction: column;
    }
    .header ul li {
        margin: 10px 0;
        display:block;
    }
}

/* Animation */
@keyframes slide_left {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes slide_right {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes emerge {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes emergeb {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}


/* .................................For Skills............................. */
#Skills {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #000;
    padding: 50px 15px;
}
#skillt{
    display: inline-block;
}
.container{
    flex-direction: row;
    padding:20px;
}

.container .knowledge{
    position:relative;
    display: inline-block;
    width:45%;
}
.container .containerSk {
    display: inline-block;
    position: relative;
    width: 45%;
    padding-left: 20px;
}

.containerSk h2 {
    color: #fff;
}

.containerSk .skills {
    position: relative;
    display: flex;
    margin: 20px 0px;
    padding: 24px 10px 18px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}

.containerSk:hover .skills {
    opacity: 0.2;
}

.containerSk .skills:hover {
    opacity: 1;
    transform: scale(1.2);
}

.containerSk .skills .Name {
    position: relative;
    width: 110px;
    text-align: left;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
}

.containerSk .skills .Value {
    position: relative;
    width: 40px;
    text-align: left;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
}

.containerSk .skills .Percent {
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.containerSk .skills .Percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;
}

@keyframes animate {
    from {
        width: 0%;
    }
}

.containerSk .skills:nth-child(2) .Percent .progress {
    background: linear-gradient(45deg, var(--theme), #681ee7);
}

.containerSk .skills:nth-child(3) .Percent .progress {
    background: linear-gradient(45deg, var(--theme), #33ff00);
}

.containerSk .skills:nth-child(4) .Percent .progress {
    background: linear-gradient(45deg, var(--theme), #ff00ca);
}

.containerSk .skills:nth-child(5) .Percent .progress {
    background: linear-gradient(45deg, var(--theme), #fadd03);
}

.containerSk .skills:nth-child(6) .Percent .progress {
    background: linear-gradient(45deg, var(--theme), #c5070b);
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .container .knowledge{
        position:relative;
        display: block;
        width:100%;
    }
    .container .containerSk {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 20px;
    }
}

/* ..................................For project............................. */
.project{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height:100vh;
    background:#000;
    padding-top:50px;
    flex-direction: column;
    z-index: -200;
}

/* Setting Background */
.projects{
    /* setting flex type wrap */
    display: flex;
    flex-wrap: wrap;

    /* Positioning all the containers at the centre of page */
    justify-content: center;
    align-items: center;

    z-index:10;

    /* Doubt */
    min-width: 100vw;
}

.containerPr {
    /* Setting up container */
    background: #060c21;
    width: 300px;
    height: 400px;
    margin: 40px;
    color: #fff;
    padding: 20px;
    cursor: pointer;

    /* Positioning box content */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

    /* Doubt */
    position: relative;
}
.containerPr p{
    padding:20px 0;
}

/* For lightening edge */
.containerPr::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

    /* setting transition time */
    transition: 0.5s;
}

/* For blur shade */
.containerPr:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

    /* providing blur effect */
    filter: blur(40px);

    /* setting transition time */
    transition: 0.5s;
}

.containerPr:nth-child(1):before,
.containerPr:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.containerPr:nth-child(2):before,
.containerPr:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.containerPr:nth-child(3):before,
.containerPr:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #04ec3e);
}

/* Scaling on hovering to make animation */
.containerPr:hover:before{
    transform: scale(1.05);
}
.containerPr:hover:after{
    transform: scale(1.1);
}

/* Changing color of half container */
.containerPr .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}
/* ...................................title.............................. */
.paget{
    position: relative;
    font-size:3rem;
    color:#282539;
    -webkit-text-stroke: 0.2vw #383d52;
    text-transform: uppercase;
    margin:1rem 1.2rem;
}
.paget::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: var(--theme);
    -webkit-text-stroke: 0vw #383d52;
    border-right:2px solid var(--theme);
    overflow: hidden;
    animation: typing 4s linear infinite;
}
@keyframes typing{
    0%,10%,100% {
      width:0;  
    }
    70%,90%{
        width:100%; 
    }
}
/* ..................................For About Me............................. */
.about{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:100%;
    background:#000;
    padding-top:3rem;
    flex-direction: column;
}

.containerAb{
    width: 100%;
    min-height:30%;
    display:flex;
    flex-direction: row;
}
.containerAb .picture{
    border: 3px solid var(--theme);
    display:relative;
    width: 35%;
    height:30rem;
    margin: 1.25rem;
    border-radius: 10px;
    background: url("image.jpg") no-repeat center;
    background-size: cover;
}

.containerAb .details{
    width:100%;
    display:flex;
    flex-direction: column;
}
.containerAb .details .info{
    display: flex;
    padding: 20px 10px;
    width: 100%;
    flex-direction: row;
}
.containerAb .details .info .col2{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.heading{
    text-align:left;
    padding: 10px 20px;
    font-size: 2rem;
    border-bottom: 2px solid var(--theme);
    width: 40%;
    color:#fff;
}
.heading span{
    color: var(--theme);
}

.containerAb .details .info h3{
    font-size: 22px;
    color:var(--theme);
    font-weight: bold;
    padding: 4px 10px;
    text-transform: capitalize;
}

.containerAb .details .info h3 span{
    color:#eee;
    padding:0 0.5rem;
    text-transform: capitalize;
}

.containerAb .pinfo a {
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    background: transparent;
    border: 2px solid var(--theme);
    color: var(--theme);
    font-size: 1em;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 20px;
}
.containerAb .details .einfo{
    display:flex;
    flex-wrap: wrap;
}
.containerAb .details .einfo .info .col2{
    border-left:2px solid var(--theme);
    margin:10px 10px;
    min-width:30%;
}
.containerAb .details .einfo .info .col2::before{
    content:'';
    position: absolute;
    height:10px;
    width: 10px;
    border-radius: 50%;
    background:var(--theme);
    transform: translateX(-16px);
}


.containerAb .einfo .info .col2 .fas{
    color:var(--theme);
    padding:5px 10px;
}
.containerAb .einfo .info .col2 span{
    color:white;
    padding:5px 10px;
}
.containerAb .einfo .info .col2 p{
    color:white;
    padding:5px 10px;
}

@media(max-width:768px) {
    .paget{
        font-size: 2rem;
    }

    .containerAb{
        flex-direction: column;
    }
    .containerAb .picture{
        min-width: 90%;
        min-height: 70%;
    }

    .containerAb .details .info{
        flex-direction: column;
        padding:20px 0px;
    }
    .about{
        min-height: 70rem;
    }
    .heading{
        width:95%;
        font-size: 1.5rem;
    }
    .contact{
        margin:200px;
    }
}


/* ...............................For Contact Page...................... */
#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px 0px 20px;
    width: 100%;
    background: #000;
}

#Contact::before {
    content: '';
    position: absolute;
    overflow: auto;
    width: 300px;
    height: 300px;
    background: linear-gradient(var(--theme), #e91e63);
    border-radius: 50%;
    transform: translate(-450px, -170px);
}

#Contact::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(var(--theme), #83d8ff);
    border-radius: 50%;
    transform: translate(450px, 170px);
}

.containerCon {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.containerCon::before {
    content: '';
    position: absolute;
    left: -40%;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.containerCon h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}

.containerCon .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.containerCon .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.containerCon .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.containerCon .row100 .col .inputBox input,
.containerCon .row100 .col .inputBox textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.containerCon .row100 .col .inputBox .text {
    position: absolute;
    bottom: 4px;
    left: 0;
    line-height: 40px;
    font-size: 16px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerCon .row100 .col .textarea{
    min-height: 100px;
}

.containerCon .row100 .col .inputBox input:focus+.text,
.containerCon .row100 .col .inputBox input:valid+.text{
    bottom: 35px;
    left: -10px;
}

.containerCon .row100 .col .inputBox textarea:focus+.text,
.containerCon .row100 .col .inputBox textarea:valid+.text {
    bottom: 100px;
    left: -10px;
}

.containerCon .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.containerCon .row100 .col .inputBox input:focus~.line,
.containerCon .row100 .col .inputBox input:valid~.line {
    height: 100%;
}

.containerCon .row100 .col .inputBox .textarea {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.containerCon .row100 .col .inputBox textarea:focus~.line,
.containerCon .row100 .col .inputBox textarea:valid~.line {
    height: 100%;
}

.containerCon .row100 .col input[type="submit"] {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    #Contact::before {
        width: 150px;
        height: 150px;
        transform: translate(-121px, -270px);
    }

    #Contact::after {
        width: 150px;
        height: 150px;
        transform: translate(121px, 270px);
    }

    .containerCon {
        padding: 20px;
    }

    .containerCon h2 {
        font-size: 28px;
    }
}

/* .....................................Footer.................................... */
.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    /* Glassy Look */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.name {
    color: #fff;
    font-size: 1.6em;
    padding-bottom: 10px;
}

.sociallogo {
    position: relative;
    display: flex;
}

.sociallogo li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.sociallogo li a {
    text-decoration: none;
}

.sociallogo li a i {
    font-size: 2em;
    color: #fff;
    padding-top: 3px;
    transition:0.5s;
}

.sociallogo li::before {
    font-family: fontAwesome;
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 2em;
    padding-top:-2px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.sociallogo li:nth-child(1):before {
    content: '\f0e1';
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
    padding-bottom: -2px;
    pointer-events: none;
}

.sociallogo li:nth-child(2):before {
    content: '\f232';
    color: #25d366;
    border-bottom: 2px solid #25d366;
    padding-bottom: -2px;
    pointer-events: none;
}

.sociallogo li:nth-child(3):before {
    content: '\f16d';
    color: #dd2a7b;
    border-bottom: 2px solid #dd2a7b;
    padding-bottom: -2px;
    pointer-events: none;
}

.sociallogo li:nth-child(4):before {
    content: '\f09b';
    color: #171515;
    border-bottom: 2px solid #171515;
    padding-bottom: -2px;
    pointer-events: none;
}

.sociallogo li:hover::before {
    height: 100%;
}
.sociallogo li a i:hover {
    padding-top: 0px;
}

.Contact {
    margin-bottom: 300px;
}


/* .....................................Scroll Bar.............................. */
::-webkit-scrollbar {
    width: 10px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--theme),grey,grey, var(--theme));
    border-radius: 7px;
}