*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

body{
    background: #000;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.header{
    background-color:rgba(16, 15, 16, 0.731);
    margin: 37px 10px 20px 200px;
    border-radius:60px;
    height: 42px;
    z-index:1;
}

.navbar{
        padding: 1px 23px;
}

.logo{  
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 30px;
    text-align: center;
    line-height: 1.3em;
}

.mid{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: -16px -20px 200px -20px; 
    height: 42px;  
}

.navbar li{
    list-style: none;
    display: inline-block;
    font-family: 'Baloo Bhai 2', cursive;
    padding-right: 5px;   
}

.navbar li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0px 12px;   
}

.navbar li a:hover{
    text-decoration: underline;
    color:aqua
}

.container {
    border: 2px solid red;
    margin: auto;

}
.home .full-screen{
    min-height: 100vh;
    width:100%;
    background: #000;
}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* .................................For Skills............................. */
#Skills{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.containerSk{
    position:relative;
    width:500px;
    margin-right: 17%;
}
.containerSk h2{
    color:#fff;
}
.containerSk .skills{
    position: relative;
    display:flex;
    margin: 20px 0px;
    padding: 24px 10px 18px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}
.containerSk:hover .skills{
    opacity:0.2;
}
.containerSk .skills:hover{
    opacity:1;
    transform: scale(1.2);
}

.containerSk .skills .Name{
    position: relative;
    width:110px;
    text-align:left;
    color:#fff;
    margin-top: -2px;
    text-transform: uppercase;
}
.containerSk .skills .Value{
    position: relative;
    width:40px;
    text-align:left;
    color:#fff;
    margin-top: -2px;
    text-transform: uppercase;
}
.containerSk .skills .Percent{
    position: relative;
    width: calc(100% - 150px);
    height:20px;
    margin:0 10px;
    border-radius: 10px;
    background:#151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}
.containerSk .skills .Percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width:70%;
    height: 100%;
    border-radius:10px;
    background:#fff;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;
}
@keyframes animate {
    from{
        width:0%;
    }
}

.containerSk .skills:nth-child(2) .Percent .progress{
    background: linear-gradient(45deg,#1fe6ff,#673ab7);
}
.containerSk .skills:nth-child(3) .Percent .progress{
    background: linear-gradient(45deg,#3bc0ff,#33ff00);
}
.containerSk .skills:nth-child(4) .Percent .progress{
    background: linear-gradient(45deg,#ffee54,#ff00ca);
}
.containerSk .skills:nth-child(5) .Percent .progress{
    background: linear-gradient(45deg,#c1fb38,#2196f3);
}
.containerSk .skills:nth-child(6) .Percent .progress{
    background: linear-gradient(45deg,#3cfff1,#c5070b);
}
@media (max-width: 768px) {
    .containerSk{
        width:500px;
        margin: 8%;
    }
}

/* ...............................For Contact Page...................... */
#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #000;
}
#Contact::before{
    content:'';
    position: absolute;
    overflow: auto;
    width: 400px;
    height:400px;
    background: linear-gradient(#2196f3,#e91e63);
    border-radius:50%;
    transform: translate(-470px,-200px);
}
#Contact::after{
    content:'';
    position: absolute;
    width: 400px;
    height:400px;
    background: linear-gradient(#2196f3,#83d8ff);
    border-radius:50%;
    transform: translate(470px,200px);
}

.containerCon{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    overflow: hidden;
    backdrop-filter:blur(25px);
}
.containerCon::before{
    content:'';
    position: absolute;
    left: -40%;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.containerCon h2{
    width:100%;
    text-align:center;
    color:#fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.containerCon .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.containerCon .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.containerCon .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.containerCon .row100 .col .inputBox input,
.containerCon .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.containerCon .row100 .col .inputBox .text{
    position: absolute;
    top:0;
    left: 0;
    line-height:40px;
    font-size: 16px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerCon .row100 .col .inputBox input:focus + .text,
.containerCon .row100 .col .inputBox input:valid + .text,
.containerCon .row100 .col .inputBox textarea:focus + .text,
.containerCon .row100 .col .inputBox textarea:valid + .text{
    top:-35px;
    left: -10px;
}
.containerCon .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:2px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerCon .row100 .col .inputBox input:focus ~ .line,
.containerCon .row100 .col .inputBox input:valid ~ .line{
    height:100%;
}
.containerCon .row100 .col .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100%;
    padding:10px 0; 
}
.containerCon .row100 .col .inputBox textarea:focus ~ .line,
.containerCon .row100 .col .inputBox textarea:valid ~ .line{
    height:100%;
}
.containerCon .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color:#000;
    font-weight: 600;
    font-size: 18px;
    border-radius:2px;
}

@media (max-width: 768px) {
    #Contact::before{
        width: 200px; 
        height:200px;
        transform: translate(-150px,-240px);
    }
    #Contact::after{
        width: 200px; 
        height:200px;
        transform: translate(150px,240px);
    }
    .containerCon{
        padding: 20px;
    }
    .containerCon h2{
        font-size: 28px;
    }
}
/* .....................................Footer.................................... */
.footer{
    position : fixed;
    display:flex;
    flex-direction: column;
    z-index:-1;
    bottom: 0;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: #262626;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    justify-content: center;
    align-items: center;
}
.name{
    color:#fff;
    font-size:2em;
    padding-bottom:10px;
}
.sociallogo{
    position: relative;
    display: flex;
}
.sociallogo li{
    position: relative;
    list-style: none;
    margin:0 20px;
    cursor: pointer;
}
.sociallogo li a{
    text-decoration: none;
}
.sociallogo li a i{
    font-size:3em;
    color: #fff;
}
.sociallogo li::before{
    font-family: fontAwesome;
    position: absolute;
    top:0;
    left: 0;
    font-size:3em;
    height:0;
    overflow: hidden;
    transition:0.5s ease-in-out;
}
.sociallogo li:nth-child(1):before{
    content:'\f0e1';
    color: #2196f3;
    border-bottom: 4px solid #2196f3;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(2):before{
    content:'\f232';
    color: #25d366;
    border-bottom: 4px solid #25d366;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(3):before{
    content:'\f16d';
    color: #e1306c;
    border-bottom: 4px solid #e1306c;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(4):before{
    content:'\f09b';
    color: #171515;
    border-bottom: 4px solid #171515;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:hover::before{
    height:100%;
}
.Contact{
    margin-bottom:300px;
}


/* .....................................Scroll Bar.............................. */
::-webkit-scrollbar{
    width: 15px;
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#333a31,white, #333a31);
    border-radius: 6px;
}
