*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' sans-serif;
}

body{
    background: #000;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
 /* ....................................Home Page................................... */
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
}
.header{
    position:fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.header .logo {
    position: relative;
    color:#000;
    display: inline-block;
    font-size:1.5em;
    text-decoration: none;
    font-weight: 600;

}
header .logo span{
    color:#1fe6ff;
}
.header ul{
    position: relative;
    display:flex;
}
.header i{
    display:none;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: inline-block;
    color: #000;
    font-weight: 400;
    font-size:1.1em;
    margin-left: 10px;
    padding:8px 18px;
    text-decoration: none;
    user-select: none;
}
.header ul li a.active, 
.header ul li a:hover{
    border-bottom:4px solid #1fe6ff;
}
.content{
    position:relative;
}
.contain .mytext{
    position:relative;
    max-width:550px;
}
.content .mytext h2{
    color:red;
    font-size:2em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 400;
}
.content .mytext h1{
    color:#1fe6ff;
    font-size:3em;
    margin-bottom: 10px;
    line-height: 1em;
    font-weight: 600;
}
.content .mytext p{
    font-size: 1.2em;
    max-width:600px;
    color: #fff;
}
.content .mytext a{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background:transparent;
    border:3px solid #1fe6ff;
    color:#1fe6ff;
    font-size: 1em;
    border-radius: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
} 

.pic{
    position:absolute;
    bottom:7%;
    right:10%;
    max-width:400px;
}

/* To make it responsive */
@media(max-width:768px){
    #home{
        padding:20px;
    }
    .header{
        padding:20px;
    }
    header .navbar{
        display:none;
        z-index: -10;
    }
    .pic{
        left:0;
        bottom:0;
        opacity:0.7;
    }
    .toggle i{
        display:block;
        position:fixed;
        top:30px;
        right:20px;
        color:#1fe6ff;
        cursor: pointer;
        z-index: 10;
    }
    .toggle .active{
        background:red url(close.jpg) no-repeat;
        background-size: 25px;
        background-position: center;
    }
}


/* .................................For Skills............................. */
#Skills{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.containerSk{
    position:relative;
    width:500px;
    margin-right: 17%;
}
.containerSk h2{
    color:#fff;
}
.containerSk .skills{
    position: relative;
    display:flex;
    margin: 20px 0px;
    padding: 24px 10px 18px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}
.containerSk:hover .skills{
    opacity:0.2;
}
.containerSk .skills:hover{
    opacity:1;
    transform: scale(1.2);
}

.containerSk .skills .Name{
    position: relative;
    width:110px;
    text-align:left;
    color:#fff;
    margin-top: -2px;
    text-transform: uppercase;
}
.containerSk .skills .Value{
    position: relative;
    width:40px;
    text-align:left;
    color:#fff;
    margin-top: -2px;
    text-transform: uppercase;
}
.containerSk .skills .Percent{
    position: relative;
    width: calc(100% - 150px);
    height:20px;
    margin:0 10px;
    border-radius: 10px;
    background:#151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}
.containerSk .skills .Percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width:70%;
    height: 100%;
    border-radius:10px;
    background:#fff;
    box-shadow: inset 0 0 2px #000;
    animation: animate 3s ease-in-out forwards;
}
@keyframes animate {
    from{
        width:0%;
    }
}

.containerSk .skills:nth-child(2) .Percent .progress{
    background: linear-gradient(45deg,#1fe6ff,#673ab7);
}
.containerSk .skills:nth-child(3) .Percent .progress{
    background: linear-gradient(45deg,#3bc0ff,#33ff00);
}
.containerSk .skills:nth-child(4) .Percent .progress{
    background: linear-gradient(45deg,#ffee54,#ff00ca);
}
.containerSk .skills:nth-child(5) .Percent .progress{
    background: linear-gradient(45deg,#c1fb38,#2196f3);
}
.containerSk .skills:nth-child(6) .Percent .progress{
    background: linear-gradient(45deg,#3cfff1,#c5070b);
}
@media (max-width: 768px) {
    .containerSk{
        width:500px;
        margin: 8%;
    }
}

/* ...............................For Contact Page...................... */
#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #000;
}
#Contact::before{
    content:'';
    position: absolute;
    overflow: auto;
    width: 400px;
    height:400px;
    background: linear-gradient(#2196f3,#e91e63);
    border-radius:50%;
    transform: translate(-470px,-200px);
}
#Contact::after{
    content:'';
    position: absolute;
    width: 400px;
    height:400px;
    background: linear-gradient(#2196f3,#83d8ff);
    border-radius:50%;
    transform: translate(470px,125px);
}

.containerCon{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    overflow: hidden;
    backdrop-filter:blur(25px);
}
.containerCon::before{
    content:'';
    position: absolute;
    left: -40%;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.containerCon h2{
    width:100%;
    text-align:center;
    color:#fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.containerCon .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.containerCon .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.containerCon .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.containerCon .row100 .col .inputBox input,
.containerCon .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.containerCon .row100 .col .inputBox .text{
    position: absolute;
    top:0;
    left: 0;
    line-height:40px;
    font-size: 16px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerCon .row100 .col .inputBox input:focus + .text,
.containerCon .row100 .col .inputBox input:valid + .text,
.containerCon .row100 .col .inputBox textarea:focus + .text,
.containerCon .row100 .col .inputBox textarea:valid + .text{
    top:-35px;
    left: -10px;
}
.containerCon .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:2px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerCon .row100 .col .inputBox input:focus ~ .line,
.containerCon .row100 .col .inputBox input:valid ~ .line{
    height:100%;
}
.containerCon .row100 .col .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100%;
    padding:10px 0; 
}
.containerCon .row100 .col .inputBox textarea:focus ~ .line,
.containerCon .row100 .col .inputBox textarea:valid ~ .line{
    height:100%;
}
.containerCon .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color:#000;
    font-weight: 600;
    font-size: 18px;
    border-radius:2px;
}

@media (max-width: 768px) {
    #Contact::before{
        width: 150px; 
        height:150px;
        transform: translate(-125px,-270px);
    }
    #Contact::after{
        width: 150px; 
        height:150px;
        transform: translate(125px,270px);
    }
    .containerCon{
        padding: 20px;
    }
    .containerCon h2{
        font-size: 28px;
    }
}
/* .....................................Footer.................................... */
.footer{
    position : fixed;
    display:flex;
    flex-direction: column;
    z-index:-1;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #262626;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    justify-content: center;
    align-items: center;
}
.name{
    color:#fff;
    font-size:2em;
    padding-bottom:10px;
}
.sociallogo{
    position: relative;
    display: flex;
}
.sociallogo li{
    position: relative;
    list-style: none;
    margin:0 20px;
    cursor: pointer;
}
.sociallogo li a{
    text-decoration: none;
}
.sociallogo li a i{
    font-size:3em;
    color: #fff;
}
.sociallogo li::before{
    font-family: fontAwesome;
    position: absolute;
    top: -1px;;
    left: 0;
    font-size:3em;
    height:0;
    overflow: hidden;
    transition:0.5s ease-in-out;
}
.sociallogo li:nth-child(1):before{
    content:'\f0e1';
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(2):before{
    content:'\f232';
    color: #25d366;
    border-bottom: 3px solid #25d366;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(3):before{
    content:'\f16d';
    color: #e1306c;
    border-bottom: 3px solid #e1306c;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:nth-child(4):before{
    content:'\f09b';
    color: #171515;
    border-bottom: 3px solid #171515;
    padding-bottom: -2px;
    pointer-events: none;
}
.sociallogo li:hover::before{
    height:100%;
}
.Contact{
    margin-bottom:300px;
}


/* .....................................Scroll Bar.............................. */
::-webkit-scrollbar{
    width: 15px;
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#333a31,white, #333a31);
    border-radius: 6px;
}
